.cta {
  height: fit-content;
  width: fit-content;
  padding: 20px 50px;
  border-radius: 70%;
  text-align: center;
  border: 3px solid blue;
  text-transform: uppercase;
  color: blue;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 700;
  font-style: normal;

  position: fixed;
  transform: rotate(20deg);
  bottom: 40px;
  left: 30px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.7);
    bottom: 80px;
    left: 100px;
  }

  a {
    text-decoration: none;
  }
}

// font-family: neue-haas-grotesk-text,sans-serif;
// font-weight: 400;
// font-style: normal;

// font-family: neue-haas-grotesk-text,sans-serif;
// font-weight: 500;
// font-style: normal;

// font-family: neue-haas-grotesk-text,sans-serif;
// font-weight: 700;
// font-style: normal;
