header {
  .logo {
    position: fixed;
    right: 10px;
    top: -35px;
    width: 220px;
  }
}

main {
  #splash {
    div {
      width: 50vw;
      margin: auto;
    }
  }

  .test {
    height: 2000px;
  }
}
