header {
  .logo {
    position: fixed;
    right: 10px;
    top: 30px;
    width: 150px;
    z-index: 1;

    @media (min-width: 700px) {
      width: 220px;
    }
  }
}

main {
  #splash {
    div {
      width: 80vw;
      margin: auto;
      height: 100vh;
      display: flex;
      align-content: center;
    
      @media (min-width: 700px) {
        width: 50vw;
      }
    }
  }

  h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-size: 13vw;
    text-transform: uppercase;
    text-align: center;
    color: #1402ff;
    margin-bottom: 100px;
  }

  .content-section {
    padding: 0 15vw;
    font-family: neue-haas-grotesk-text, sans-serif;
    text-align: center;
    color: #1402ff;
    margin-bottom: 400px;
    min-height: 100vh;

    h1 {
      font-weight: 400;
      font-size: 5rem;
      text-transform: uppercase;

      @media (min-width: 700px) {
        font-size: 20vw;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 5vw;
      margin-bottom: 0;
    }

    p {
      font-weight: 400;
      font-size: 1vw;
      max-width: 60vw;
      margin: 50px auto;
    }

    .categories {
      font-size: 1.8vw;
      font-weight: 400;
      margin-bottom: 80px;
      margin-top: 40px;
    }

    img {
      width: 30%;
    }

    .video-section {
      display: flex;
      flex-direction: row;
    }

    .contact-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
