header {
  .logo {
    position: fixed;
    right: 10px;
    top: 30px;
    width: 150px;
    z-index: 1;

    @media (min-width: 700px) {
      width: 220px;
    }
  }
}

main {
  #splash {
    div {
      width: 80vw;
      margin: auto;
      height: 100vh;
      display: flex;
      align-content: center;
    
      @media (min-width: 700px) {
        width: 50vw;
      }
    }
  }

  h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-size: 13vw;
    text-transform: uppercase;
    text-align: center;
    color: #1402ff;
    margin-bottom: 100px;
  }

  .content-section {
    padding: 0 5vw;
    font-family: neue-haas-grotesk-text, sans-serif;
    text-align: center;
    color: #1402ff;
    margin-bottom: 150px;
    //min-height: 100vh;

    @media (min-width: 700px) {
       padding: 0 15vw;
       margin-bottom: 350px;
    }

    h1 {
      font-weight: 400;
      font-size: 5rem;
      text-transform: uppercase;

      @media (min-width: 700px) {
        font-size: 20vw;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 5vw;
      margin-bottom: 0;
    }

    p {
      font-weight: 400;
      font-size: 2rem;
      //max-width: 60vw;
      margin: 30px auto;

      @media (min-width: 700px) {
        font-size: 4rem;
        margin-bottom: 80px;
      }
    }

    .images-flex {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      

      @media (min-width: 700px) {
        font-size: 4rem;
        margin-bottom: 80px;
        flex-wrap: nowrap;

        div:nth-child(2){
          margin-top: 230px;
        }
  
        div:nth-child(3){
          margin-top: 350px;
        }
      }
    }

    .images-flex2 {
      display: flex;
     // gap: 20px;
      flex-wrap: wrap;

      img {
        margin: 10px 0px;
      }
      
      
      @media (min-width: 700px) {
        font-size: 4rem;
        margin-bottom: 80px;
        flex-wrap: nowrap;
        img {
          margin: 0px;
        }

        div {
          margin: 20px 10px;
        }
      }
    }

    .categories {
      font-size: 1.1rem;
      font-weight: 400;
      margin-top: 40px;
      

      @media (min-width: 700px) {
        font-size: 2rem;
        margin-bottom: 50px;
        margin-top: 60px;
      }
    }

    // img {
    //   width: 30%;
    // }

    .video-section {
      display: flex;
      flex-direction: row;
    }

    .contact-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
